# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir=E:\\work\\zk\\zookeeper-3.4.13\\zk-log\\snapshot

# 每进行snapCount次事务日志输出后，触发一次快照(snapshot)
# 同时创建一个新的事务日志文件log
snapCount=100

# 预先开辟磁盘空间，用于后续写入事务日志。默认是64M，每个事务日志大小就是64M
preAllocSize=3072

dataLogDir=E:\\work\\zk\\zookeeper-3.4.13\\zk-log\\transcationlog
# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
